.display-page {
    background-color: #D9F3B7 ;
}

.text-payin {
    margin-left: 355px;
    font-weight: bold;
    font-size: 1em;
}

.text2-payin {
    margin-left: 170px;
    font-size: 1em;
}

.text3-payin {
    margin-left: 180px;
    font-size: 1em;
}

.deposit-form {
    display:block;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 205px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #DEEBCD;
    margin: 2% auto 5% auto;

}
.display-form {
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 545px;
    margin-top: 52px;
    margin-bottom: 27px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #DEEBCD;
    margin: 2% auto 5% auto;


}

.deposit-input {
    border-radius: 5px;
    width: 422px;
    border: medium;
    padding: 1px;
    margin-left:5px;
}


.deposit-button {
    background-color: #3FAE76;
    border-radius: 5px;
    margin-left: 57px;
    color: white;
    width: 75%;
    padding: 2px 12px;

}
