.log-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #DEEBCD;
    margin: 5% auto 15% auto;
}


.log-in-input {
    border-radius: 5px;
    border: medium;
    padding: 1px;
}


.log-in-button {
    background-color: #F6836C;
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;

}
