.text-logout {
    margin-left: 625px;
    font-weight: bold;
    font-size: 1em;
}


.logout-yes-button {
    background-color: #F6836C;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    color: white;
    padding: 15px 32px;

}

.logout-no-button {
    background-color: #3FAE76;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    color: white;
    padding: 15px 32px;

}
