.root-container {
    display: block;
    position: absolute;
    background-color: #D9F3B7 ;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.app-container {
    width: 100%;
    align-self: flex-start;
}
