.modify-page {
    background-color: #D9F3B7 ;
}
.modify-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 280px;
    margin-bottom: 27px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #DEEBCD;
    margin: 5% auto 5% auto;

}


.card-form {
    background-color: #D9F3B7 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto 15% auto;
    margin-bottom: 27px;


}

.modify-input {
    border-radius: 5px;
    border: medium;
    padding: 1px;
    margin-left:5px;
}


.modify-button {
    background-color: #F6836C;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 15px 32px;

}
